[{rls,[{neo4j_connection,[{base_uri,<<"https://db-zXXXXXXXXXXX.graphenedb.com:24780/db/data/">>},
                          {user,<<"dev">>},
                          {password,<<"XXXXXXXXXXXXXXXX">>}]},
       {admins,["SQORADMIN"]},
       {logic,#{"Chat" => #{mapping => #{active => #{accept => {active,any},
                      block => {blocked,any},
                      create => {active,any},
                      delete => {empty,any}},
                    blocked => #{delete => {empty,prev_requester},
                      unblock => {active,prev_requester}},
                    empty => #{create => {pending,any}},
                    pending => #{accept => {active,target},
                      block => {blocked,target},
                      create => {pending,any},
                      decline => {empty,target},
                      delete => {empty,any}}},
                  type => two_way},
                "Clients" => #{mapping => #{active => #{delete => {empty,admin}},empty => #{create => {active,admin}}},
                  type => one_way},
                "Flair" => #{mapping => #{active => #{delete => {empty,origin}},
                    empty => #{create => {active,origin}}},
                  type => one_way},
                "Follows" => #{mapping => #{active => #{block => {blocked,target},
                      create => {active,origin},
                      delete => {empty,origin},
                      hide => {hidden,origin}},
                    blocked => #{delete => {empty,origin},unblock => {active,target}},
                    empty => #{create => {active,origin}},
                    hidden => #{block => {blocked,target},
                      delete => {empty,any},
                      show => {active,origin}}},
                  type => one_way},
                "Friends" => #{mapping => #{active => #{block => {blocked,any},delete => {empty,any}},
                    blocked => #{delete => {empty,prev_requester},
                      unblock => {active,prev_requester}},
                    empty => #{create => {pending,any}},
                    pending => #{accept => {active,target},
                      block => {blocked,target},
                      cancel => {empty,origin},
                      decline => {empty,target},
                      delete => {empty,any}}},
                  type => two_way}}}]}].