%% Thanks to Ulf Wiger at Ericcson for these comments:
%%
%% This file is identified via the erl command line option -config File.
%% Note that File should have no extension, e.g.
%% erl -config .../sys (if this file is called sys.config)
%%
%% In this file, you can redefine application environment variables.
%% This way, you don't have to modify the .app files of e.g. OTP applications.
[{rls,[
       {neo4j_connection,
           [{base_uri, <<${neo4j_server}>> },
	    {user, <<${neo4j_user}>> },
	    {password, <<${neo4j_pass}>> }]
       },
       {admins,["SQORADMIN"]},
       {logic,#{"Follows" =>
                  #{ type => one_way,
                      mapping =>
                          #{ empty =>
                                 #{ create  => {active, origin}},
                             active =>
                                 #{ delete  => {empty, origin},
                                    block   => {blocked, target},
                                    hide    => {hidden, origin},
                                    create  => {active, origin}},
                             blocked =>
                                 #{ delete  => {empty, origin},
                                    unblock => {active, target}},
                             hidden =>
                                 #{ show    => {active, origin},
                                    delete  => {empty, any},
                                    block   => {blocked, target}}}},
               "Friends" =>
                  #{ type => two_way,
                      mapping =>
                          #{ empty =>
                                 #{ create  => {pending, any}},
                             pending =>
                                 #{ accept  => {active, target},
                                    cancel  => {empty, origin},
                                    decline => {empty, target},
                                    block   => {blocked, target},
                                    delete  => {empty, any}},
                             active =>
                                 #{ delete  => {empty, any},
                                    block   => {blocked, any}},
                             blocked =>
                                 #{ unblock => {active, prev_requester},
                                    delete  => {empty, prev_requester}}}},
               "Chat" =>
                   #{ type => two_way,
                      mapping =>
                          #{ empty =>
                                #{ create => {pending, any}},
                             pending =>
                                #{ create => {pending, any},
                                   accept => {active, target},
                                   decline => {empty, target},
                                   block => {blocked, target},
                                   delete => {empty, any}},       
                             active =>
                                 #{ delete => {empty, any},
                                    create => {active, any},
                                    accept => {active, any},
                                    block => {blocked, any}},
                             blocked =>
                                 #{ unblock => {active, prev_requester},
                                    delete => {empty, prev_requester}}}},
               "Flair" =>
                  #{ type => one_way,
                      mapping =>
                          #{ empty =>
                                 #{ create  => {active, origin}},
                             active =>
                                 #{ delete  => {empty, origin}}}},
              "Clients" =>
                 #{ type => one_way,
                     mapping =>
                         #{ empty =>
                                #{ create  => {active, admin}},
                            active =>
                                #{ delete  => {empty, admin}}}}}
       }
      ]
 }].
